@import "variables";
@import "mixins";
.hd {
    position: relative;
    padding: 2.5rem 0;
    margin-bottom: 0.625rem;
    @include clearfix();
}

.logo {
    float: left;
    width: 3.75rem;
    height: 3.75rem;
    @include text-hide();
    margin: 0;
    padding: 0;
    font-size: 0;
    background: url('../img/zan-logo.svg') center center no-repeat;
    background-size: 100%;
    &> a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.main-nav {
    float: right;
    ul {
        margin: 1.125rem 0;
        padding: 0;
        text-align: center;
        &> li {
            display: inline-block;
            margin: 0 0 0 30px;
            list-style: none;
            &.active {
                a {
                    color: $link-color;
                }
            }
            a {
                color: $gray-light;
                text-decoration: none;
                transition: color .2s linear;
                &:hover {
                    color: $link-color;
                }
            }
        }
    }
}

.container {
    min-height: 100vh;
}

.side-nav {
    margin-bottom: 2rem;
    h2 {
        margin-bottom: 1rem;
    }
    a {
        color: $gray;
        text-decoration: none;
        transition: color .2s linear;
        &:hover {
            color: $link-color;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0 0 0 0.5rem;
        font-size: $font-size-sm;
        line-height: 2rem;
        &> li {
            &.active {
                a {
                    color: $link-color;
                }
            }
        }
    }
}

.article-container {
    margin-bottom: 3rem;
    article {
        margin-bottom: 3rem;
    }
}

.article-title {
    h1 {
        font-family: -apple-system-headline2, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: 1.75rem;
        line-height: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
    }
}

.circle-tag {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: $font-size-sm;
    text-align: center;
    color: #fff;
    font-style: normal;
    background-color: $gray-light;
    user-select: none;
}

.article-content {
    font-size: $font-size-sm;
    line-height: $font-size-sm*2;
    color: $gray;
    .tag {
        font-size: $font-size-xs;
        font-family: $font-family-monospace;
        color: $brand-info;
        letter-spacing: -1px;
    }
    .circle-tag + .tag {
        margin-left: 0.25rem;
    }
    .article-paragraph {
        margin-bottom: 2rem;
    }
    figure {
        margin-left: 1.5rem;
    }
}

@media (min-width: 376px) {
    .logo {
        width: 4.75rem;
        height: 4.75rem;
    }
    .main-nav {
        ul {
            margin: 1.625rem 0;
        }
    }
    .circle-tag {
        width: 1.75rem;
        height: 1.75rem;
        line-height: 1.75rem;
    }
    .article-content {
        .tag {
            letter-spacing: 0px;
        }
        .circle-tag + .tag {
            margin-left: 1rem;
        }
        figure {
            margin-left: 2.75rem;
        }
    }
}
