<!doctype html>
<html class="no-js" lang="zh-CN">
<!--
  o---o          o--o  o  o o--o
     /           |   | |  | |   |
   -O-   oo o-o  O--o  O--O O--o
   /    | | |  | |     |  | |
  o---o o-o-o  o o     o  o o
-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="Zan PHP Framework,Youzan,C10K,高并发HTTP服务,SOA服务">
    <meta name="description" content="Zan PHP Framework提供最简单的方式开发面向C10K+的 
高并发HTTP服务或SOA服务">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="<?php echo URL::site('favicon.ico', 'static');?>"/>
    <link rel="apple-touch-icon" href="<?php echo URL::site('apple-touch-icon.png', 'static');?>">

    <?php $layout->block('title'); ?>
        <?php $tpl->load('common/widget/page_title'); ?>
    <?php $layout->endBlock();?>

    <?php $tpl->load('common/widget/common_style'); ?>

    <?php $layout->place('page_style'); ?>

    <?php $tpl->load('common/tpl/head_script'); ?>

</head>

<body>

    <?php $tpl->load('common/tpl/weixin_share'); ?>

    <?php $layout->place('main'); ?>

    <?php $tpl->load('common/widget/vendor_script'); ?>

    <?php $tpl->load('common/widget/common_script'); ?>

    <?php $tpl->load('common/widget/analysis_script'); ?>

    <?php $layout->place('page_script'); ?>

</body>

</html>
