<?php $layout->extend('guide/base'); ?>

<?php $layout->block('article'); ?>
<article class="article">
    <header class="article-title">
        <h1>脚手架工具 zan-installer</h1>
    </header>
    <section class="article-content">
        <div class="article-paragraph">
            <p>ZanPHP 提供一个官方命令行工具 zan-installer，可用于快速初始化项目目录。zan-installer提供了交互式的初始化方式，方便你快速设置应用名、项目路径、命名空间等配置。</p>
        </div>
        <div class="article-paragraph">
            <p>
                <i class="circle-tag">1</i>
                <span class="tag tag-inverse tag-lg"># git clone https://github.com/youzan/zan-installer.git</span>
            </p>
            <p>
                <i class="circle-tag">2</i>
                <span class="tag tag-inverse tag-lg"># cd zan-installer</span>
            </p>
            <p>
                <i class="circle-tag">3</i>
                <span class="tag tag-inverse tag-lg"># composer install</span>
            </p>
        </div>
        <div class="article-paragraph">
            <p>
                <i class="circle-tag">4</i>
                <span class="tag tag-inverse tag-lg"># zan</span>
            </p>
            <figure>
                <?php $tpl->load('common/widget/retina_image', [
                    'alt' => 'zan-installer',
                    'pic' => [
                        'zan-installer-shell@3x.png',
                    ]
                ]); ?>
            </figure>
            <figure>
                <?php $tpl->load('common/widget/retina_image', [
                'alt' => 'zan-installer',
                'pic' => [
                'zan-installer-shell@4x.png',
                ]
                ]); ?>
            </figure>
        </div>
        <div class="article-paragraph">
            <p>
                <i class="circle-tag">5</i>
                <span class="tag tag-inverse tag-lg">TCP SERVER: # php bin/nova<br/><br/>HTTP SERVER: # php bin/httpd</span>
            </p>
        </div>
        <div class="article-paragraph">
            <p>
                <i class="circle-tag">6</i>
                <span class="tag tag-inverse tag-lg">立即打开浏览器访问HTTP SERVER吧！</span>
            </p>
            <figure>
                <?php $tpl->load('common/widget/retina_image', [
                'alt' => 'welcome',
                'pic' => [
                    'zan-welcome@2x.png',
                ]
                ]); ?>
            </figure>
            <p>
                <i class="circle-tag">7</i>
                <span class="tag tag-inverse tag-lg">NOVA RPC服务调用<br/><br/>(如果需要关闭NOVA服务调用,可以删除或注释掉resource/config/{ENV}/service_discovery.php配置)</span>
            </p>
            <figure>
                <?php $tpl->load('common/widget/retina_image', [
                'alt' => 'welcome',
                'pic' => [
                'zan-nova@2x.png',
                ]
                ]); ?>
            </figure>
        </div>


    </section>
</article>
<?php $layout->endBlock();?>
