<?php $layout->extend('guide/base'); ?>

<?php $layout->block('article'); ?>
<article class="article">
    <header class="article-title">
        <h1>Config 配置</h1>
    </header>
    <section class="article-content">
        <div class="article-paragraph">
            <p>正常配置文件都放在 $ROOTPATH/resource/config/$ENV  文件夹下，<b>涉及到数据库和nosql的访问需要修改相应的配置文件。具体见<a href="http://zanphpdoc.zanphp.io/">zanphp文档</a></b>。下面以test环境举例，结构如下：
                <br /><a href="https://gist.github.com/xhjcehust/a0a95735a74c8abd9b54920be196c816">https://gist.github.com/xhjcehust/a0a95735a74c8abd9b54920be196c816</a>
            </p>
            <p>
                <script src="https://gist.github.com/xhjcehust/a0a95735a74c8abd9b54920be196c816.js"></script>
            </p>
        </div>
    </section>

    <section class="article-content">
        <h2 id="config-server">Server 配置</h2>
        <div class="article-paragraph">
            <p>
                <a href="https://gist.github.com/xhjcehust/62c6ed39a22546776e5cd3bf96c56195">https://gist.github.com/xhjcehust/62c6ed39a22546776e5cd3bf96c56195</a>
            </p>
            <p>
                <script src="https://gist.github.com/xhjcehust/62c6ed39a22546776e5cd3bf96c56195.js"></script>
            </p>
        </div>
    </section>

    <section class="article-content">
        <h2 id="config-debug">Debug 配置</h2>
        <div class="article-paragraph">
            <p>
                <a href="https://gist.github.com/xhjcehust/3483ab9e6f1f156f7e8c740c96a58c41">https://gist.github.com/xhjcehust/3483ab9e6f1f156f7e8c740c96a58c41</a>
            </p>
            <p>
                <script src="https://gist.github.com/xhjcehust/3483ab9e6f1f156f7e8c740c96a58c41.js"></script>
            </p>
        </div>
    </section>
</article>
<?php $layout->endBlock();?>
