<?php $layout->extend('guide/base'); ?>

<?php $layout->block('article'); ?>
<article>
    <header class="article-title">
        <h1>Config 配置</h1>
    </header>
    <section class="article-content">
        <div class="article-paragraph">
            <p>正常配置文件都放在 $ROOTPATH/resource/config/$ENV  文件夹下，下面以test环境举例，结构如下：
                <br /><a href="https://gist.github.com/agalwood/4a32675ae46e5ba6628e06ac8aa45499">https://gist.github.com/agalwood/4a32675ae46e5ba6628e06ac8aa45499</a>
            </p>
        </div>
        <div class="article-paragraph">
            <script src="https://gist.github.com/agalwood/4a32675ae46e5ba6628e06ac8aa45499.js"></script>
        </div>
    </section>

    <section class="article-content">
        <h2 id="config-server">Server 配置</h2>
        <div class="article-paragraph">
            <a href="https://gist.github.com/agalwood/495484f1ee9726d7e2ba19cbb0c269dd">https://gist.github.com/agalwood/495484f1ee9726d7e2ba19cbb0c269dd</a>
        </div>
        <div class="article-paragraph">
            <script src="https://gist.github.com/agalwood/495484f1ee9726d7e2ba19cbb0c269dd.js"></script>
        </div>
    </section>

    <section class="article-content">
        <h2 id="config-debug">Debug 配置</h2>
        <div class="article-paragraph">
            <a href="https://gist.github.com/agalwood/ba20107c84da8d891853d57976eb8800">https://gist.github.com/agalwood/ba20107c84da8d891853d57976eb8800</a>
        </div>
        <div class="article-paragraph">
            <script src="https://gist.github.com/agalwood/ba20107c84da8d891853d57976eb8800.js"></script>
        </div>
        <a href=""></a>
    </section>
</article>
<?php $layout->endBlock();?>
