<?php $layout->extend('guide/base'); ?>

<?php $layout->block('article'); ?>
<article class="article">
    <header class="article-title">
        <h1>基础环境</h1>
    </header>
    <section class="article-content">
        <div class="article-paragraph">
            <p>Zan PHP Framework (简称ZanPHP) 仅能运行在 Mac OS、Linux 操作系统上，依赖的
                <a href="https://github.com/youzan/zan" target="_blank">Zan</a> 扩展
                需要 gcc 或 clang 编译器支持。
            </p>
        </div>
        <div class="article-paragraph">
            <h2>PHP 版本</h2>
            <p>
                ZanPHP 仅支持PHP 5.6或更高版本,需要安装的扩展包括<a href="https://github.com/youzan/zan">Zan</a>,<a href="https://pecl.php.net/package/APCu">APCu</a>,<a href="https://github.com/kjdev/php-ext-lz4.git">lz4</a>。
            </p>
            <p>
                Mac OS 推荐使用 <a href="http://brew.sh/">Homebrew</a> 安装 PHP，<a href="https://www.centos.org/" target="_blank">CentOS</a>或
                <a href="https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux" target="_blank">RHEL</a>
                推荐使用 Yum 安装。(Yum源推荐 <a href="https://webtatic.com/packages/php56/">PHP 5.6 Yum repo: php56w, php56w-cli, php56w-common, php56w-mbstring, php56w-mysqlnd, php56w-mcrypt, php56w-pecl-apcu etc...</a>)。
            </p>
        </div>
        <div class="article-paragraph">
            <h2>Zan 扩展</h2>
            <p>Zan 扩展是按照 PHP 标准扩展构建的。使用 <code>phpize</code> 来生成 PHP 编译配置，<code>./configure</code> 来做编译配置检测，<code>make</code> 进行编译，<code>make install</code>进行安装。</p>
            <p>
                Zan 基于 <a href="https://github.com/swoole/swoole-src/releases/tag/swoole-1.8.5-stable">swoole-1.8.5-stable</a>
                版本构建，<strong>在swoole的基础上新增了许多功能特性,修复了大量bug,接口更加友好易用。</strong>
            </p>
            <p>
                Zan 建议的 configure 参数：<br/>
                <kbd>./configure --enable-sockets  --enable-async-redis --enable-openssl</kbd>
            </p>
            <p>
                编译安装成功后，修改php.ini加入：
            </p>
            <p>
                <span class="tag tag-inverse tag-lg">extension=zan.so</span>
            </p>
        </div>
        <div class="article-paragraph">
            <h2>Composer</h2>
            <p>
                ZanPHP 的依赖包使用 <a href="http://getcomposer.org/" target="_blank">Composer</a> 进行管理，请确保您已经安装了 Composer。
            </p>
            <p>
                如果你是使用 <a href="https://github.com/youzan/zan-installer" target="_blank">zan-installer</a> 初始化的项目，zan-installer 会自动帮你 <code>composer update</code>。
                在开发使用过程中，你可能需要使用 <code>composer update</code> 更新 ZanPHP 的代码，来获取 ZanPHP 的新特性和 Bug 修复。
            </p>
        </div>
        <div class="article-paragraph">
            <h2>php.ini</h2>
            <p>你需要配置 PHP 的 php.ini 文件来设置 Zan 的运行模式。</p>
            <p>
                <span class="tag tag-inverse tag-lg">zanphp.RUN_MODE = test</span>
            </p>
        </div>
        <div class="article-paragraph">
            <h2>运行</h2>
            <p>HTTP 版本请启动项目根路径下的 httpd 后，访问 <a href="http://127.0.0.1:9588">http://127.0.0.1:8030</a> 查看输出结果吧！</p>
            <p>
                <span class="tag tag-inverse tag-lg">php bin/httpd</span>
            </p>
            <p>
                当然你也可以使用 <a href="https://httpd.apache.org/" target="_blank">Apache</a> / <a href="http://nginx.org/" target="_blank">nginx</a> / <a href="http://tengine.taobao.org/" target="_blank">tengine</a>
                设置反向代理后使用域名访问，以下是 zanphp.io 的 nginx 配置：<br />
                <a href="https://gist.github.com/agalwood/df9c7316d7e41a363c6fcc8e7907e54c" target="_blank">https://gist.github.com/agalwood/df9c7316d7e41a363c6fcc8e7907e54c</a>
                <script src="https://gist.github.com/agalwood/df9c7316d7e41a363c6fcc8e7907e54c.js"></script>
            </p>
        </div>
        <div class="article-paragraph">
            <h2>静态资源</h2>
            <p>
                您可以使用任一主流的HTTP服务器 <a href="https://httpd.apache.org/" target="_blank">Apache</a> / <a href="http://nginx.org/" target="_blank">nginx</a> / <a href="http://tengine.taobao.org/" target="_blank">tengine</a> 配置静态资源服务器
                <br />
                zanphp.io 的静态资源域名为 s.zanphp.io「可在项目 /resource/config/{env}/url.php 里修改」，以下是 nginx 配置供大家参考：<br />
                <a href="https://gist.github.com/agalwood/497f1d49a3e97b271193fb48d17263e3" target="_blank">https://gist.github.com/agalwood/497f1d49a3e97b271193fb48d17263e3</a>
                <script src="https://gist.github.com/agalwood/497f1d49a3e97b271193fb48d17263e3.js"></script>
            </p>
        </div>
    </section>
</article>
<?php $layout->endBlock();?>
